@font-face {
  font-family: 'Helvetica';
  font-weight: 700;
  font-style: normal;

  src: local("helvetica"),  url("../../public/fonts/helvetica/helvetica_bold.otf") format("ttf");
}

@font-face {
  font-family: 'Helvetica';
  font-weight: 400;
  font-style: normal;

  src: local("helvetica"),  url("../../public/fonts/helvetica/helvetica_regular.otf") format("ttf");
}


:root {
  --max-width: 1320px;

  --c_primary: #BC9A6C;
  --c_secondary: #fff;
  --c_black: #1E1E1E
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  font-family: "Helvetica", sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;

  position: relative;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}
