._core {
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--c_black);
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  max-width: var(--max-width);
  width: 100%;

  padding: 40px 20px;
  margin-right: 0;
  margin-left: 0;

  &::after {
    content: "";
    display: block;
    width: calc(1.5 * 6.75rem);
  }

  > :not(:last-child) {
      margin-right: 20px;
  }
}

.title {
  font-size: 1.5rem;
  line-height: 1;

  color: var(--c_secondary);

  transition: color 300ms;

  span {
    color: var(--c_primary);
    transition: color 300ms;
  }

  ~ nav {
    display: flex;
  }

  &:hover,
  &:focus {
    color: var(--c_primary);
    outline: none;

    span {
      color: var(--c_secondary);
    }
  }
}

.navigationList {
  display: flex;
  align-items: center;

  color: var(--c_secondary);

  & > li:not(:last-child) {
    margin-right: 32px;
  }

  & > li,
  & > li a {
    transition: color 300ms;
  }

  > li:hover,
  > li a:focus {
    color: var(--c_primary);

    outline: none;
  }
}

@media screen and (max-width: 1024px) {
  .container::after {
    content: none;
  }
}

@media screen and (max-width: 700px) {
  .targetMenuButton {
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 0;
    color: transparent;
    background-color: transparent;
    border: none;

    cursor: pointer;
    padding: 4px;

    svg {
      display: block;
      fill: var(--c_secondary);
      width: 1rem;
      height: 1rem;
      transition: fill 300ms;

      rect {
        transition-property: opacity, transform;
        transition-duration: 300ms;
      }
    }

    &:hover,
    &:focus {
      svg {
        fill: var(--c_primary)
      }
    }
  }

  .navigationList {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    transform: translateX(-100%);
    transition: transform 300ms;

    background-color: var(--c_black);

    padding: 60px 40px;

    opacity: 1;
    flex-direction: column;
  }

  .navigate_open {
    .navigationList {
      transform: translateX(0);

      > :not(:last-child) {
        margin-bottom: 20px;
        margin-right: 0;
      }
    }

    .targetMenuButton {
      position: absolute;
      top: 41px;
      right: 20px;
      z-index: 2;

      svg {
        rect:nth-of-type(2) {
          opacity: 0;
        }
        rect:nth-of-type(1) {
          transform: translate(5px, 0) rotate(45deg);
        }
        rect:nth-of-type(3) {
          transform: translate(-7px, 5.5px) rotate(-45deg);
        }
      }
    }
  }
}
